# shellcheck shell=bash

scripts_dir="$PWD/.agents/scripts"
if [[ -d "$scripts_dir" ]]; then
  PATH_add "$scripts_dir"
  alias mag-start="start-agents.sh"
  alias mag-setup="setup.sh"
  alias mag-agents="agents.sh"
  alias mag-kill="kill-all.sh"
  alias mag-send="send-commands.sh"
fi
