# shellcheck shell=bash

scripts_dir="$PWD/.agents/scripts"
if [[ -d "$scripts_dir" ]]; then
  if [[ $(type -t PATH_add) != "function" ]]; then
    if [[ :$PATH: != *":$scripts_dir:"* ]]; then
      export PATH="$scripts_dir:$PATH"
    fi
  else
    PATH_add "$scripts_dir"
  fi
  alias mag-start="start-agents.sh"
  alias mag-setup="setup.sh"
  alias mag-agents="agents.sh"
  alias mag-kill="kill-all.sh"
  alias mag-send="send-commands.sh"
  alias mag-remove="remove.sh"
  alias mag-uninstall="uninstall.sh"
fi
